## --- Day 2: Password Philosophy ---

#### Part One - How many passwords are valid according to their policies?

Each line gives the password policy and then the password. The password policy indicates the lowest and highest number of times a given letter must appear for the password to be valid. For example, 1-3 a means that the password must contain a at least 1 time and at most 3 times.

In [1]:
import re
import pandas as pd

In [2]:
with open('password.txt') as file:
    tmp = file.readlines()

psswd = []
for i in tmp:
    psswd.append(i.strip('\n'))
    
    
psswd[:5]

['5-9 g: ggccggmgn',
 '11-16 l: llllqllllllllflq',
 '3-6 q: qvqqqpzqd',
 '6-11 f: ffffpcffffp',
 '7-8 l: lllqlwtqll']

In [3]:
src = re.compile('(?P<range>\d+-\d+) (?P<letter>[a-z]: )(?P<pssw>\w*$)')

In [4]:
df = pd.DataFrame({'range': [], 'letter': [], 'pssw': []})

In [5]:
for i in range(len(psswd)):
    p = src.search(psswd[i])
    df.loc[i,'range'] = p.group('range')
    df.loc[i,'letter'] = p.group('letter')
    df.loc[i,'pssw'] = p.group('pssw')

In [6]:
df.head()

   range letter              pssw
0    5-9    g:          ggccggmgn
1  11-16    l:   llllqllllllllflq
2    3-6    q:          qvqqqpzqd
3   6-11    f:        ffffpcffffp
4    7-8    l:         lllqlwtqll

In [7]:
df.letter = df.letter.str.strip(': ')
df[['inf','sup']] = df.range.str.split('-', expand = True)

In [8]:
df

     range letter                  pssw inf sup
0      5-9      g             ggccggmgn   5   9
1    11-16      l      llllqllllllllflq  11  16
2      3-6      q             qvqqqpzqd   3   6
3     6-11      f           ffffpcffffp   6  11
4      7-8      l            lllqlwtqll   7   8
..     ...    ...                   ...  ..  ..
995  17-20      k  kkkkkkkkkkkkkkkkkkkk  17  20
996    3-5      q               hjqrqsq   3   5
997  12-13      h         hhhhhhhhfhhhh  12  13
998    3-4      x              gxxjphxx   3   4
999    4-6      g                sbwggg   4   6

[1000 rows x 5 columns]

In [11]:
tf = []
for i in range(len(df)):
    tf.append(  int(df.inf.loc[i]) <= df.pssw.loc[i].count(df.letter.loc[i]) <= int(df.sup.loc[i])  )
sum(tf)

458

#### Part Two - How many passwords are valid according to the new interpretation of the policies?

Each policy actually describes two positions in the password, where 1 means the first character, 2 means the second character, and so on. (Be careful; Toboggan Corporate Policies have no concept of "index zero"!) Exactly one of these positions must contain the given letter. Other occurrences of the letter are irrelevant for the purposes of policy enforcement.

In [13]:
ft = []
for i in range(len(df)):
    ft.append(df.pssw.loc[i][int(df.inf.loc[i])-1] != df.letter.loc[i] and df.pssw.loc[i][int(df.sup.loc[i])-1] == df.letter.loc[i]
)
    ft.append(df.pssw.loc[i][int(df.inf.loc[i])-1] == df.letter.loc[i] and df.pssw.loc[i][int(df.sup.loc[i])-1] != df.letter.loc[i]
)
sum(ft)

342